.bg-red {
  background-color: red;
}

.h-50px {
  height: 50px;
}

.w-100 {
  width: 100%;
}

.bg-black {
  background-color: black;
}

.h-500px {
  height: 500px;
}


#box {
  padding: 0px 40px 0px 70px;
  box-sizing: border-box;
}

.w-24 {
  width: 24%;
}

.d-inlineblock {
  display: inline-block;
}

.bg-blue {
  background-color: blue;
}


.h-400px {
  height: 400px;
}

.bg-green {
  background-color: green;
}


.circle {
  border-radius: 50%;
  background: pink;
  width: 150px;
  height: 150px;

}

#box-2 {
  padding: 150px 80px;
  box-sizing: border-box;
}
