<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa đông không lạnh</title>
  </head>
  <body>
    <h1>Mùa đông không lạnh</h1>
    <a href="{{ url_for('search', g=0) }}">Bạn là nam</a>
    <a href="{{ url_for('search', g=1) }}">Bạn là nữ</a>
<!-- nen truyen function(), vi route co the thay doi, ko nen truyen route -->
    <div>
      <a href="{{ url_for('customer')}}">Customer page</a>
    </div>
    <div>
      <a href="{{ url_for('customer_search')}}">10 not-yet-contacted male customers</a>
    </div>
    <hr>
    <div>
      <a href="{{ url_for('service')}}">Services page</a>
    </div>
    <div>
      <a href="{{ url_for('admin')}}">Admin page</a>
    </div>
  </body>
</html>
